// Custom styles.

.post-tags-item-text {
    color: #999;
    font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
    font-size: 12px;
    margin-right: 4px;
}

.post-pre-text {
    margin-bottom: 20px;
    border-left: 8px solid;
    padding: 0 15px;
    font-weight: bold;
}

.footnotes-sep {
    border: none;
    margin: 0;
    height: 0;
    background-color: #FFF;
    background-image: none;
}
