// Custom styles.

.github-fork-ribbon-wrapper.autofix {
    left: 0;

    .github-fork-ribbon {
        top: 42px;
        left: -43px;

        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

@media (max-width: 767px) {
  .github-fork-ribbon-wrapper.autofix {
    left: auto;
    right: 0;

    .github-fork-ribbon {
        left: auto;
        right: -43px;

        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
  }
}

.post-tags-item-text {
    color: #999;
    font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
    font-size: 12px;
    margin-right: 4px;
}

.post-pre-text {
    margin-bottom: 20px;
    border-left: 8px solid;
    padding: 0 15px;
    font-weight: bold;
}

.footnotes-sep {
    border: none;
    margin: 0;
    height: 0;
    background-color: #FFF;
    background-image: none;
}

.image-comment {
    color: #999;
    margin: -16px 0 16px 0;
    font-size: 0.9em;
}
